<div class="container mt-3 mb-3" style="background-color: #fff5e0;">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center mt-3">What is Mountain Hutters?</h2>
        <p class="text-center">Mountain Huttersは、山小屋を検索したり、宿泊レビューを投稿したり、他の利用者のレビューを参考にすることができるサービスです。</p>
        <p class="text-center">山登りをより楽しい体験にするための情報共有プラットフォームを目指しています。</p>

      <h2 class="text-center mt-5">How to Use</h2>
        <ol>
          <li><strong>会員登録：</strong> 簡単な登録でサービスを開始！</li>
          <li><strong>山小屋を検索：</strong> キーワードや条件から山小屋を検索。</li>
          <li><strong>レビュー投稿：</strong> 宿泊した山小屋の感想や評価をシェア。</li>
          <li><strong>他のユーザーとつながる：</strong> お気に入りのレビューやコメントを通じて交流。</li>
        </ol>

      <h4 class="text-center mt-5">さぁ、Mountain Huttersとともに、もっと楽しい山登りの体験を！</h4>
      <h4 class="text-center mb-5">Let's explore with us!</h4>
    </div>
  </div>
</div>

