<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">What is Mountain Hutters?</h2>
        <p>Mountain Huttersは、山小屋を検索したり、宿泊レビューを投稿したり、他の利用者のレビューを参考にすることができるサービスです。</p>
        <p>山登りをより楽しい体験にするための情報共有プラットフォームを目指しています。</p>

      <h2 class="text-center mt-5">How to Use</h2>
        <ol>
          <li><strong>会員登録:</strong> 簡単な登録でサービスを開始！</li>
          <li><strong>山小屋を検索:</strong> エリアや条件に合った山小屋を見つけよう。</li>
          <li><strong>レビュー投稿:</strong> 宿泊した山小屋の感想や評価をシェア。</li>
          <li><strong>他のユーザーとつながる:</strong> お気に入りのレビューやコメントを通じて交流。</li>
        </ol>

      <h4 class="text-center mt-5">さぁ、Mountain Huttersとともに、もっと楽しい山登りの体験を！</h4>
      <h4 class="text-center">Let's explore with us!</h4>
    </div>
  </div>
</div>

