<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Welcome to Mountain Hutters!</h1>
      <p>Mountain Huttersは、山小屋を楽しむすべての人々のためのコミュニティです。</p>
      <p>山小屋での滞在、レビュー、そして登山仲間との出会いを楽しみましょう！</p>
        
      <div class="mt-5">
        <%= link_to 'ゲストログインはこちら', users_guest_sign_in_path, method: :post, class: 'btn btn-primary btn-sm' %><br>
        <%= link_to '新規登録はこちら', new_user_registration_path, class: 'btn btn-success btn-sm mt-2' %><br>
        <%= link_to 'ログインはこちら', new_user_session_path, class: 'btn btn-success btn-sm mt-2' %>
      </div>
        
    </div>
  </div>
</div>

<h2 class="mt-5 text-center">新着レビュー</h2>
