<h1>レビュー一覧</h1>

<table>
  <thead>
    <tr>
      <th>投稿者</th>
      <th>山小屋名</th>
      <th>タイトル</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.user.name %></td>
        <td><%= review.hut.name %></td>
        <td><%= review.title %></td>
        <td><%= link_to '詳細を見る', review_path(review) %></td>
      </tr>
    <% end %>
  </tbody>
</table>