<h2 class="m-3"><%= current_user.name %>さんのレビュー一覧</h2>

<div class="container">
  <% if @reviews.any? %>
  <table>
    <thead>
      <tr>
        <th>山小屋名</th>
        <th>タイトル</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.hut.name %></td>
          <td><%= review.title %></td>
          <td><%= link_to '詳細を見る', review_path(review), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="text-center mt-4">まだレビューが投稿されていません。</p>
<% end %>
</div>